* {
align-items: center;
color: #f68b1f;
text-align: center;
}

.Button {
    outline:solid;

}
body {
    padding-left:5%;
    padding-right:5%;
    text-align: center;
}

.personal-wellness-title {
    text-align:left;
}

.textfield-container {
    border-style:solid;
}