.infosection{
    margin-left: 80px;
    margin-right: 80px;
}

.editIcon{
    margin-left: 15px;
    &:hover{
        color:#2997ff;
    }
}

.withValue{
    font-size: 20px;
}

.withoutValue{
    font-size: 15px;
    color: gray;
}