@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.grid-container {
    text-align: center;
    align-items:center;
    justify-content: center;
}

body {
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
}

h4 {
    font-family: 'PT Sans Narrow', sans-serif;
}
h6 {
    text-align:justify;
    color:black;
}
p {
    text-align: justify;
    color:black;
}
.foreword-wrapper {
    border-style:solid;
    padding:2%;
}

.foreword {
    font-style:italic;
}
.header {
    padding: 60px;
    text-align: center;
    background: orange;
    color: black;
    font-size: 30px;
  }
  .form-container {
      display:flex;
      flex-direction:row;
  }