#inputToStyle{
    border: 3px solid orange;
}

.labelStyle{
    background-color: orange;
   border-radius: 10px;
   margin-block-start: 10px;
   
}

.form-group label{
    color:white;
}


.form-group label {
    color:black;
}