@import url(//db.onlinewebfonts.com/c/010b0c65ea7dee40153adf2034153db0?family=Gotham+Condensed);

@font-face {font-family: "Gotham Condensed"; src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot"); src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff") format("woff"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.svg#Gotham Condensed") format("svg"); }



.navbar{
    height: 80px;
    width: 100%;
    background: white;
    float:none;
}

ul{
    height: 100%;
    margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
    display:flex;
    align-items:center;
    list-style-type:none;
}

.limenu{
    display:inline-block; 
    padding: 0 80px 0px 80px;
    margin-left: 60px;
    color: #444;
}

.lilogout{
    margin-right: 20px;
    color:#444;
}

.logo{
    position: relative;
    width: 170px;
    left: 15px;
}

.navitemd{
    margin-right: 70px;
    font-family: "Gotham Condensed";
    font-size: large;
}

.logoutnav{
    font-family: "Gotham Condensed";
}
