@import url(//db.onlinewebfonts.com/c/010b0c65ea7dee40153adf2034153db0?family=Gotham+Condensed);

@font-face {font-family: "Gotham Condensed"; src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot"); src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff") format("woff"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.svg#Gotham Condensed") format("svg"); }

.expandNav{
    width:150px;
    height: calc(100% -50px);
    background:rgb(51, 51, 51);
    position:absolute;
    top: 50px;
    right:0;
    // left: -300px;
    // transition:300ms ease left;
    // flex-direction:column-reverse;
    // padding: 0;
    // margin-left: 80px;
    
  .navitem{
      color:honeydew;
     margin-left: 25px;
     margin-right: 10px;
     font-family: "Gotham Condensed";
    font-size: large;
  }

  .navitem:hover{
      background-color: grey;
  }
}


// #lis{
//     flex-direction:column-reverse;
//          justify-content:flex-start;
//          padding:0;
//          padding-top: 20px;
//          padding-bottom: 20px;
//          height: 60px;
//         display:absolute;
//         align-items:center;
//         width:100%
// }
