h3 {
    padding: 8px;
}

.signature-container {
    border-style: solid;
}

.signature-area {
    border-style:solid;
}
body {
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    
}