* {

    font-style:normal;
    font-size:100%;
    text-align: left;
}
.header {
    border-style:solid;
    border-color: black;
    background-color:white;
    font-size:20px;
    text-align: center;
    align-items:center;
}

.header-buttons {
    padding: 10px;
}

h2 {
    text-align: center;
    color: black;
}