@import url(//db.onlinewebfonts.com/c/010b0c65ea7dee40153adf2034153db0?family=Gotham+Condensed);

@font-face {font-family: "Gotham Condensed"; src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot"); src: url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff") format("woff"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.svg#Gotham Condensed") format("svg"); }

.mb-3{
    font-family: "Gotham Condensed";
    font-size: x-large;
}